body {
    background-color: hsl(34, 36%, 88%);
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    background-color: #1c3a4d;
    padding: 1rem;
    position: sticky;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-weight: 600;
}

.navbar a:hover {
    background-color: hsl(203, 43%, 29%);
}

/* Home */
#headline {
    color: #f5f5f5;
    margin-left: 690px;
    margin-top: auto;
    margin-bottom: auto;
}

.info {
    text-align: center;
}

#judul {
    font-size: 57px;
    text-align: center;
    margin-top: 195px;
    font-family: 'Times New Roman', Times, serif;
}

/* Profile */
.half {
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 2;
    right: 0;
    background-color: #F0C146;
}

#kenal {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 55px;
    position: absolute;
    padding: 1px;
    left: 55px;
    top: 85px;
}

#kenals2 {
    font-family: 'Raleway', 'Helvetica Neue', Arial, sans-serif;;
    position: absolute;
    padding: 1px;
    left: 55px;
    top: 230px;
}

.half-left {
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 2;
    left: 0;
}